<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MNIST Drawing</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <section class="tools-board">
        <div class="row buttons">
          <button class="clear-canvas">Clear Canvas</button>
          <button class="predict">Predict number</button>
          <h1>Number:</h1>
          <input size="12" id="result">
          <button class="confirm">Confirm</button>
        </div>
      </section>
      <section class="drawing-board">
        <canvas id="canvas"></canvas>
      </section>
    </div>
  <script src="../static/canvas.js"></script>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>